disk0 = '{{ vagrant_diskdir }}/disk0.vdi'

Vagrant.require_version ">=1.7.0"

Vagrant.configure(2) do |config|

    config.vm.box = "debian/jessie64"

    unless File.exist?(disk0)
      config.vm.customize['createhd','--filename', disk0, '--size', 8 * 1024]
    end
    config.vm.customize ['storageattach', :id, '--storagectl', 'SATA Controller', '--port', 1, '--device', 0, '--type', 'hdd', '--medium', disk0]

    # See https://github.com/mitchellh/vagrant/issues/5005
    config.ssh.insert_key = false

    config.vm.provision "ansible" do |ansible|
        ansible.playbook = "site.yml"
    end
end
